<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.OrderDao">

    <insert id="add" parameterType="torder">
        insert into torder(user_id ,train_date ,is_accept_standing ,choose_seats,from_station_code,to_station_code,checi,status)
        values(#{user_id},#{train_date},#{is_accept_standing},#{choose_seats},#{from_station_code},#{to_station_code},#{checi},#{status})
        <selectKey keyProperty="order_id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>