<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdt.dao.DeptDao">
    <select id="findAll" resultType="com.sdt.domain.Dept">
			select * from dept
	</select>

	<select id="findById" resultType="com.sdt.domain.Dept">
			select * from dept where deptno = #{id}
	</select>

	<insert id="add" parameterType="com.sdt.domain.Dept">
		insert into dept(deptno,deptname) values (#{deptno},#{deptname})
	</insert>

	<update id="update" parameterType="com.sdt.domain.Dept">
		update dept set deptname=#{deptname} where deptno=#{deptno}
	</update>

	<delete id="delete" parameterType="int">
		delete from dept where deptno=#{id}
	</delete>
</mapper>